<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局参数 -->
    <settings>
        <!-- 使全局的映射器启用或禁用缓存。 -->
        <setting name="cacheEnabled" value="true"/>

        <!-- 使用驼峰命名法转换字段。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>

    <typeAliases>
        <package name="com.maple.model"/>
    </typeAliases>

    <!--向MyBatis注册映射信息-->
    <mappers>
        <package name="com.maple.model"/>
    </mappers>

</configuration>
