<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maple.mapper.UserMapper">

    <select id="findByUsername" resultMap="userAndRoles">
      select  a.*,b.*  from USER a, ROLE b, USER_ROLE c
      where a.user_name = #{userName,jdbcType=VARCHAR}
      and a.user_id = c.user_id
      and c.role_id = b.role_id
    </select>
    <resultMap id="userAndRoles" type="user">
       <id column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="USER_DESC" property="userDesc" />
        <collection property="roles" ofType="role">
            <id column="ROLE_ID"  property="roleId" />
            <result column="ROLE_NAME" property="roleName" />
        </collection>
    </resultMap>

    <insert id="saveUser" parameterType="user">
        <selectKey resultType="int" order="AFTER" keyProperty="userId">
            SELECT last_insert_rowid()
        </selectKey>
        insert into USER(user_name,password,user_desc)  values(#{userName},#{password},#{userDesc})
    </insert>

    <insert id="saveUserRoleMap" parameterType="java.util.Map">
        insert into USER_ROLE(user_id,role_id)
        select #{userId}, role_id from ROLE where role_name = #{roleName}
    </insert>
    
    <delete id="deleteUser" parameterType="java.lang.Long">
        delete from USER where user_id = #{userId}
    </delete>
    
    <update id="updateUser" parameterType="user">
        update USER set password = #{password} where user_name = #{userName}
    </update>

</mapper>

