<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common" />
<title>修改密码</title>
<script>
    $(function(){
        $("#newpwd2").blur(function(){
            var newPass = $("#newpwd").val();
            var repPass = $("#newpwd2").val();
            if(newPass != repPass){
                $("#newpwd").val("");
                $("#newpwd2").val("");
                $("#newpwd").focus();
                $("#msg").html("两次输入密码不一致,请重输！").css("display","block");
            }
        });
    });
</script>
<body>
<div><h3 id="msg" th:text="${errorMsg}"></h3></div>

<form th:action="@{/user/changePassword}" method="post">
    <div class="form-group">
        <label for="oldpwd">旧密码</label>
        <input type="password" class="form-control"  placeholder="请输入旧密码" id="oldpwd" name="oldpwd" required="required"/>
    </div>
    <div class="form-group">
        <label for="newpwd">设置新密码</label>
        <input type="password" class="form-control" placeholder="请输入密码长度为8-16位的英文数字" id="newpwd" name="newpwd" maxlength="16" pattern="[A-z0-9]{8,16}" required="required"/>
    </div>
    <div class="form-group">
        <label for="newpwd2">再次输入新密码</label>
        <input type="password" class="form-control" placeholder="请再次输入新密码" id="newpwd2" maxlength="16" pattern="[A-z0-9]{8,16}" required="required" />
    </div>
    <button type="button" class="btn btn-default" onclick="javascript:history.go(-1);">返回</button>
    <button type="submit" class="btn btn-default" id="updatePwdBtn">保存</button>
</form>
</body>
</html>