<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common" />
<title>注册页面</title>
<script>
    $(document).ready(function(){
        $( "#roleName1" ).prop( "checked", true );
    });
</script>
<body>
<h1>注册页面</h1>

<div><h3 th:text="${errorMsg}"></h3></div>

<form th:object="${user}" th:action="@{/register}" method="post">
    <label for="userName">User Name: </label>
    <input type="text" th:field="*{userName}"  class="text" maxlength="10" pattern="[A-z0-9]{5,10}" th:title="请输入5-10位的英文数字" required="required" />
    <br/>
    <label for="userDesc">Description: </label>
    <input type="text" th:field="*{userDesc}" maxlength="20" class="text"/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" class="text" maxlength="16" pattern="[A-z0-9]{8,16}"  th:title="密码长度为8-16位的英文数字" required="required"/>
    <br/>
    <label for="roleName">Role: </label>
    <input type="radio" th:field="*{roleName}" th:value="ROLE_USER" id="roleName1" />普通用户
    <input type="radio" th:field="*{roleName}" th:value="ROLE_STUDENT" id="roleName2" />学生用户
    <br/>
    <input type="reset" class="btn btn-primary"/>
    <input type="submit" class="btn btn-primary"/>
</form>
</body>
</html>