<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="common">
    <title>主页</title>
</head>
<body>
<div class="container">
    <div class="starter-template">
        <h1 th:text="${msgTitle}"></h1>
        <p class="bg-primary" th:text="${msgContent}"></p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p class="bg-info" th:text="${msgExtraInfo}"></p>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <p class="bg-info">无更多显示信息</p>
        </div>
    </div>

    <div th:each="post: ${postList}">
        <hr class="hr-format"/>
        <div><label th:text=" '文章'+${postStat.count} ">id:</label></div>
        <div><label th:text="${post.userName} +'发布文章主题为:'+${post.title}">title:</label></div>
        <div><label th:text=" '内容:'+${post.content}">content:</label></div>
        <div><label th:text="'点赞数：'+${post.admires.size()}">admires count:</label></div>
        <div th:each="comt: ${post.comments}">
            <div th:if="${comt.referId == 0}"><label
                    th:text="${comtStat.count}+'楼->'+${comt.userName} +' 评论:'+${comt.comment}+' --reply time:'+${comt.replyTime}">title:</label>
            </div>
            <div th:if="${comt.referId > 0} "><label
                    th:text="${comtStat.count}+'楼->'+${comt.userName} +'回复 '+${comt.referId}+' 的评论:'+${comt.comment}+' --reply time:'+${comt.replyTime}">title:</label>
            </div>
        </div>
    </div>
</div>

<div class="commentAll">
    <!--评论区域 begin-->
    <div class="reviewArea clearfix">
        <textarea class="content comment-input" placeholder="Please enter a comment&hellip;"
                  onkeyup="keyUP(this)"></textarea>
            <a href="javascript:;" class="plBtn">评论</a>
    </div>
    <!--评论区域 end-->
    <!--回复区域 begin-->
    <div class="comment-show">
<!--        <div class="comment-show-con clearfix">
            <div class="comment-show-con-img pull-left">&lt;!&ndash;<img src="bootstrap/images/header-img-comment_03.png" alt=""/>&ndash;&gt;
            </div>
            <div class="comment-show-con-list pull-left clearfix">
                <div class="pl-text clearfix">
                    <a href="#" class="comment-size-name">js代码 : </a>
                    <span class="my-pl-con">&nbsp;js代码(http://www.jsdaima.com/)，拒绝滥竽充数，我们只提供精品资源！</span>
                </div>
                <div class="date-dz">
                    <span class="date-dz-left pull-left comment-time">2017-5-2 11:11:39</span>
                    <div class="date-dz-right pull-right comment-pl-block">
                        <a href="javascript:;" class="removeBlock">删除</a>
                        <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                        <span class="pull-left date-dz-line">|</span>
                        <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i
                                class="z-num">666</i>)</a>
                    </div>
                </div>
                <div class="hf-list-con"></div>
            </div>
        </div>-->
    </div>
    <!--回复区域 end-->
</div>

<!--评论初始化加载-->
<script th:inline="javascript">
    $(document).ready(function(){
        /*<![CDATA[*/
        $.getJSON("bootstrap/json/hf.json",function (data) {
            $.each(data,function (i,row) {

                oriHtml = '<div class="comment-show-con clearfix">' +
                    '<div class="comment-show-con-img pull-left"></div> ' +
                    '<div class="comment-show-con-list pull-left clearfix">' +
                    '<div class="pl-text clearfix"> ' +
                    '<a href="#" class="comment-size-name">'+row.commentName+':</a> ' +
                    '<span class="my-pl-con">&nbsp;' + row.commentContent + '</span> ' +
                    '</div> ' +
                    '<div class="date-dz"> ' +
                    '<span class="date-dz-left pull-left comment-time">' + row.commentTime + '</span> ' +
                    '<div class="date-dz-right pull-right comment-pl-block">' +
                    '<a href="javascript:;" class="removeBlock">删除</a> ' +
                    '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> ' +
                    '<span class="pull-left date-dz-line">|</span> ' +
                    '<a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> ' +
                    '</div> </div>' +
                    '<div class="hf-list-con"></div>' +
                    '</div> </div>';

                    $('.comment-show').prepend(oriHtml);
                  //  $('.commentAll').parents('.reviewArea').siblings('.comment-show').prepend(oriHtml);
               //     $('.commentAll').siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text('');

            });
        });
        /*]]>*/
    });
</script>
<!--textarea高度自适应-->
<script th:inline="javascript">
    $(function () {
        $('.content').flexText();
    });
</script>
<!--删除评论块-->
<script th:inline="javascript">
    $('.commentAll').on('click', '.removeBlock', function () {
        var oT = $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
        if (oT.siblings('.all-pl-con').length >= 1) {
            oT.remove();
        } else {
            $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css('display', 'none');
            oT.remove();
        }
        $(this).parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents('.comment-show-con').remove();

    })
</script>
<!--点赞-->
<script th:inline="javascript">
    $('.comment-show').on('click', '.date-dz-z', function () {
        var zNum = $(this).find('.z-num').html();
        if ($(this).is('.date-dz-z-click')) {
            zNum--;
            $(this).removeClass('date-dz-z-click red');
            $(this).find('.z-num').html(zNum);
            $(this).find('.date-dz-z-click-red').removeClass('red');
        } else {
            zNum++;
            $(this).addClass('date-dz-z-click');
            $(this).find('.z-num').html(zNum);
            $(this).find('.date-dz-z-click-red').addClass('red');
        }
    })
</script>
<!--textarea限制字数-->
<script th:inline="javascript">
    function keyUP(t) {
        var len = $(t).val().length;
        if (len > 139) {
            $(t).val($(t).val().substring(0, 140));
        }
    }
</script>
<!--点击回复动态创建回复块-->
<script th:inline="javascript">
    $('.comment-show').on('click', '.pl-hf', function () {
        //获取回复人的名字
        var fhName = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        //回复@
        var fhN = '回复@' + fhName;
        //var oInput = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.hf-con');
        var fhHtml = '<div class="hf-con pull-left"> <textarea class="content comment-input hf-input" placeholder="" onkeyup="keyUP(this)"></textarea> <a href="javascript:;" class="hf-pl">评论</a></div>';
        //显示回复
        if ($(this).is('.hf-con-block')) {
            $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
            $(this).removeClass('hf-con-block');
            $('.content').flexText();
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding', '6px 15px');
            //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
            //input框自动聚焦
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
        } else {
            $(this).addClass('hf-con-block');
            $(this).parents('.date-dz-right').siblings('.hf-con').remove();
        }
    });
</script>
<!--点击评论创建评论条-->
<script th:inline="javascript">
    $('.commentAll').on('click', '.plBtn', function () {
        /*<![CDATA[*/
        var myDate = new Date();
        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var date = myDate.getDate();
        var h = myDate.getHours();
        var m = myDate.getMinutes();
        var s = myDate.getSeconds();
        if (m < 10) m = '0' + m;
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + '-' + date + ' ' + h + ':' + m + ':' + s;
        var oSize = $(this).siblings('.flex-text-wrap').find('.comment-input').val();
        console.log(oSize);

        oHtml = '<div class="comment-show-con clearfix">' +
            '<div class="comment-show-con-img pull-left"><!--<img src="bootstrap/images/header-img-comment_03.png" alt="" />--></div> ' +
            '<div class="comment-show-con-list pull-left clearfix">' +
            '<div class="pl-text clearfix"> ' +
            '<a href="#" class="comment-size-name">David Beckham : </a> ' +
            '<span class="my-pl-con">&nbsp;' + oSize + '</span> ' +
            '</div> ' +
            '<div class="date-dz"> ' +
            '<span class="date-dz-left pull-left comment-time">' + now + '</span> ' +
            '<div class="date-dz-right pull-right comment-pl-block">' +
            '<a href="javascript:;" class="removeBlock">删除</a> ' +
            '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> ' +
            '<span class="pull-left date-dz-line">|</span> ' +
            '<a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> ' +
            '</div> </div>' +
            '<div class="hf-list-con"></div>' +
            '</div> </div>';

        if (oSize.replace(/(^\s*)|(\s*$)/g, "") != '') {
            $(this).parents('.reviewArea').siblings('.comment-show').prepend(oHtml);
            $(this).siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text('');
        }
        /*]]>*/
    });
</script>
<!--评论回复块创建-->
<script th:inline="javascript">
    $('.comment-show').on('click', '.hf-pl', function () {
        /*<![CDATA[*/
        var oThis = $(this);
        var myDate = new Date();
        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var date = myDate.getDate();
        var h = myDate.getHours();
        var m = myDate.getMinutes();
        if (m < 10) m = '0' + m;
        var s = myDate.getSeconds();
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + "-" + date + " " + h + ':' + m + ":" + s;
        var oHfVal = $(this).siblings('.flex-text-wrap').find('.hf-input').val();
        console.log(oHfVal)
        var oHfName = $(this).parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        var oAllVal = '回复@' + oHfName;
        if (oHfVal.replace(/^ +| +$/g, ' ') == ' ' || oHfVal == oAllVal) {

        } else {
            $.getJSON("bootstrap/json/pl.json", function (data) { //here need to insert the reply comment
                var oAt = '';
                var oHf = '';
                $.each(data, function (n, v) {
                    delete v.hfContent;
                    delete v.atName;
                    var arr;
                    var ohfNameArr;
                    if (oHfVal.indexOf("@") == -1) {
                        data['atName'] = '';
                        data['hfContent'] = oHfVal;
                    } else {
                        arr = oHfVal.split(':');
                        ohfNameArr = arr[0].split('@');
                        data['hfContent'] = arr[1];
                        data['atName'] = ohfNameArr[1];
                    }

                    if (data.atName == '') {
                        oAt = data.hfContent;
                    } else {
                        oAt = '回复<a href="#" class="atName">@' + data.atName + '</a> : ' + data.hfContent;
                    }
                    oHf = data.hfName;
                });

                var oHtml = '<div class="all-pl-con"><div class="pl-text hfpl-text clearfix"><a href="#" class="comment-size-name">我的名字 : </a><span class="my-pl-con">' + oAt + '</span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time">' + now + '</span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> </div> </div></div>';
                oThis.parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display', 'block').prepend(oHtml) && oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block') && oThis.parents('.hf-con').remove();
            });
        }
        /*]]>*/
    });
</script>

</body>
</html>